extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li App runs on port 3001
  h2 Paths
  p Use the below paths to test this program
  ul
    li /users/register - to register a new user
    li /users/signin - to signin
    li /protected - page will display if signed-in. Otherwise will redirect to login page
    li /logout - redirects to home '/'
  p The below paths are used by the app
  ul
    li /success - indicates the login has succeeded
    li /fail - indicates the login has failed

  h2 Database
  p The app uses MySQL with one table named tbl_users
  pre
    CREATE TABLE `db_users`.`tbl_users` (
      `id` INT(11) NOT NULL AUTO_INCREMENT ,
      `user` VARCHAR(16) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL ,
      `pass` VARCHAR(60) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL ,
      `full_name` VARCHAR(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL ,
      PRIMARY KEY (`id`)
      ) ENGINE = InnoDB;
    <br>
